{{if $vue:= $.Page.Resources.Get  (.Get "path")}}
  {{$vueContent := $vue.Content}}
  {{$vueBase := (replace (path.Base $vue) ".vue" "") }}
  {{$hash := md5 $vueContent}}
  {{$options := cond (isset . "options") (.Get "options") (dict "format" "cjs" "target" "ES2016" "minify"  true)}}

  {{$script := index ($vueContent | findRE `(?s)<script.*?>(.*)?</script>` ) 0 }}
  {{$script := $script | replaceRE `(?s)</?.*?script.*?>` "" }}
  {{$script := $script | resources.FromString (printf "%s.%s%s" $vueBase $hash ".ts")  }}
  {{$script := $script | js.Build $options }}
  {{if .Get "inline"}}
  <script>{{$script.Content | safeJS}}</script>
  {{else}}
  {{$defer := (cond (.Get "defer" | default false) "defer" "")|safeHTMLAttr}}
  {{$async := (cond (.Get "async" | default false) "async" "")|safeHTMLAttr}}
  <script type="text/javascript" src="{{ $script.RelPermalink }}" {{$async}} {{$defer}}></script>
  {{end}}
{{end}}