{{if $vue:= $.Page.Resources.Get  (.Get "path") | default (resources.Get (.Get "path"))}}
  {{$vueContent := $vue.Content}}
  {{$vueBase := (replace (path.Base $vue) ".vue" "") }}
  {{$hash := md5 $vueContent}}
  {{$options := (.Get "options" | default (dict "outputStyle" "compressed"))}}

  {{$style := index ($vueContent | findRE `(?s)<style.*?>(.*)?</style>` ) 0 }}
  {{$style := $style | replaceRE `(?s)</?.*?style.*?>` "" }}
  {{$style := $style | resources.FromString (printf "%s.%s%s" $vueBase $hash ".scss")  }}
  {{$style := $style | toCSS $options}}
  {{if .Get "inline"}}
  <style>{{$style.Content | safeCSS}}</style>
  {{else}}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" >
  {{end}}
{{end}}